.idea/housing-price-data-mining.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
venv
.vscode
__pycache__
data_mining/__pycache__
.idea
.venv
